name: Rust

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build syncthing types
        run: cargo build --release --verbose --package syncthing-types
      - name: Build blocking syncthing
        run: cargo build --release --verbose --package syncthing
      - name: Build async syncthing
        run: cargo build --release --verbose --package syncthing-async

